<%- include("partials/header"); -%>
<div class="home-div" style="padding-top: 10px;padding-bottom: 10px;">
<h1  >Home</h1>
</div>
<p style="font-size: large;" > <%= start %> </p>

<% posts.forEach(function(post){ %>
    <div style="padding-top: 10px;padding-bottom: 10px;" >
    <h1><%=post.title%></h1>
    </div>
    <div style="padding-top: 10px;padding-bottom: 10px;">
        <p style="font-size: large;" ><%=post.content%>
            <a  href="/posts/<%=posts._id%>">Read More</a>
        </p>
    </div>
    
<%})%>

